.report-section{
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
}
.report-header{
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
.report-body{
	padding-top: 10px;
	padding-bottom: 10px;
}