@charset "UTF-8";

.invoice-header{
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}

.invoice-details{
  width: 100%;
  border-collapse: collapse;
}
.invoice-details th{
  text-align: center;
}
.invoice-details th,
.invoice-details td{
  padding: 3px;
  border: 1px solid #000;
}
