/*-------------------- BEGIN Panels --------------------*/
.panel-upper-buttons{
	padding-bottom: 15px;
}

.panel-lower-buttons{
	padding-top: 15px;
}

.tabpanel-content{
	padding: 10px 0px;
}

/*-------------------- END Panels --------------------*/

/*-------------------- BEGIN Signs --------------------*/
.sign{
	font-family: arial;
	font-weight: bold;
	font-size: 14px;
}

.sign-mandatory{
	color: red;
}

/* Margins */
.margin-top-none{
	margin-top: 0 !important;
}

/*-------------------- END Signs --------------------*/

/*-------------------- BEGIN Loading Indicator --------------------*/
#loadingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7 !important;
}

.loader,
.loader:before,
.loader:after {
  background: orange;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: orange;
  text-indent: -9999em;
  margin: 25% auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*-------------------- END Loading Indicator --------------------*/

/*-------------------- BEGIN Print Grid --------------------*/
.col-print-1 {
  width: 8%;
  float: left;
}

.col-print-2 {
  width: 16%;
  float: left;
}

.col-print-3 {
  width: 25%;
  float: left;
}

.col-print-4 {
  width: 33%;
  float: left;
}

.col-print-5 {
  width: 42%;
  float: left;
}

.col-print-6 {
  width: 50%;
  float: left;
}

.col-print-7 {
  width: 58%;
  float: left;
}

.col-print-8 {
  width: 66%;
  float: left;
}

.col-print-9 {
  width: 75%;
  float: left;
}

.col-print-10 {
  width: 83%;
  float: left;
}

.col-print-11 {
  width: 92%;
  float: left;
}

.col-print-12 {
  width: 100%;
  float: left;
}

/*-------------------- END Print Grid --------------------*/

